/* Write your CSS here */
.app-container {
  min-height: 100vh;
  background-color: #161625;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  font-family: 'Roboto';
}
.plus-icon {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-heading {
  font-size: 18px;
  color: #2cc6c6;
}
.website-logo {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.vaccination-heading {
  color: #cbd5e1;
  font-size: 18px;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}
.failure-view-img {
  width: 30%;
  height: 50vh;
}
.failure-heading {
  color: #ffffff;
  font-size: 18px;
}
.list-container {
  list-style-type: none;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
